* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
}

.responsive-container{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid;
    font-family: 'Spinnaker';
    font-size: 2rem;
    width: inherit;
    position: sticky;
    top:0;
    background-color: white;
}

.progress{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.progress div{
    display: flex;
    padding: 1rem;
}

.progress div i{
    padding-right: 0.5rem;
}

.desc{
    font-family: 'Spinnaker';
    font-size: 2.4rem;
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
    border-bottom: solid;
}

.prod-image{
    height: 15.5rem;
    width: 15.5rem;
}

.prod-name{
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    width: 20rem;
}

.prod-size, .prod-price{
    font-family: 'Spinnaker';
    font-size: 2rem;
}

.backBtns{
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 1rem;
}

.backBtns a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 4.8rem;
    background-color: #335970;
    font-family: 'Spinnaker';
    color: white;
    font-size: 1.5rem;
    /* margin: 0 5rem; */
    border-radius: 5rem;
}

.backBtns a i{
    padding: .5rem;
    background-color: white;
    color: #335970;
    border-radius: 2rem;
}

.subtl{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-family: 'Dela Gothic One';
    font-size: 2rem;
}

#subtotal{
    margin-left: 2rem;
    margin-right: 3rem;
}

.left-side{
    width: 70rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    font-family: 'Spinnaker';
}

.inputs input, select{
    width: 52.4rem;
    height: 5rem;
    font-size: 2rem;
}

.center{
    display: flex;
}

.center div{
    padding: 1rem;
}

.strong{
    font-size: 3rem;
    margin-top: 1rem;
}

label{
    font-size: 2rem;
    margin-top: 1rem;
}

#checkbox{
    width: 2rem !important;
    height: 2rem !important;
}

.success-container{
    width: 120rem;
    height: 54rem;
    border: solid red;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(8, 44, 75, 0.5);
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    color: white;
}

.success-container svg{
    width: 30rem;
    height: 30rem;
}

#continue-shopping{
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #335970;
    width: 37rem;
    height: 6.5rem;
    font-size: 2.4rem;
    font-family: 'Spinnaker';
    border-radius: 5rem;
    justify-content: center;
    color: white;
}

#continue-shopping i{
    margin-left: .5rem;
    padding: .5rem;
    background-color: white;
    border-radius: 2rem;
    color: #335970;
}

.success-title{
    font-size: 4rem;
}

.success-desc{
    font-size: 3.2rem;
    font-family: 'Spinnaker';
    width: 70rem;
    text-align: center;
}