.landing-page{
    min-height: fit-content;
    display: flex;
}

.upper{
    margin: 5rem;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.welcome-header {
    margin-bottom: 1rem;
}

.welcome-header h1{
    color: #FFFFFF;
    font-family: 'Aclonica', sans-serif;
    font-size: 5rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.description p{
    font-family: 'Spinnaker', sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
}

.explore-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

#add-cart {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
    margin-right: 1rem;
}

#add-cart p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#add-cart i {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    margin-left: 1rem;
}

#explore-now {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
}

#explore-now p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#explore-now i {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    margin-left: 1rem;
}

.product-page{
    margin-top: 13rem;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
}


