* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
}

.responsive-container{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    background-image: url("https://res.cloudinary.com/dzmhkee5i/image/upload/v1726043828/minicell/jycqi71udl6w2lijq6u9.png");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);
}

#h2-title{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    font-family: 'Spinnaker', sans-serif;
    font-weight: bold;
}

#product-display-area{
    /* min-height: 900px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.product-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#product-image{
    width: 30rem;
    height: 30rem;
}

#product-name{
    width: 30rem;
    font-size: 2rem;
    font-family: 'Dela Gothic One', sans-serif;
    text-align: center;
}

#product-desc{
    width: 30rem;
    font-size: 1.8rem;
    font-family: 'Spinnaker', sans-serif;
}

#product-price{
    width: 30rem;
    font-size: 2rem;
    font-family: 'Dela Gothic One', sans-serif;
    text-align: right;
}

.noDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}