*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
    /* background-color: #F6F2F6; */
}

.responsive{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.content{
    width: 1400px;
    height: 984px;
    background-color: rgba(8, 44, 75, 0.7);
    border-radius: 3rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dela Gothic One";
    font-size: 3rem;
}

header i{
    margin-right: 5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10rem;
}

nav{
    width: 35rem;
    color: #FFFFFF;
    font-family: "Spinnaker";
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav > div{
    display: flex;
    margin-top: 5rem;
}

.nav-edit{
    display: flex;
    width: inherit;
}

#edit-area{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Spinnaker";
    font-size: 3rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 890px;
    justify-content: flex-end;
}

form div{
    margin: 1rem;
}

form div input{
    width: 42.3rem;
    height: 7rem;
    font-size: 2rem;
}

#email-address{
    width: 87rem !important;
}

.action-btn{
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
    margin: 1rem;
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}