*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
    height: fit-content;
    /* background-color: #F6F2F6; */
}

.responsive{
    width: 1440px;
    /* min-height: 1024px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.content{
    width: 1400px;
    min-height: 984px;
    background-color: rgba(8, 44, 75, 0.7);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dela Gothic One";
    font-size: 3rem;
}

header i{
    margin-right: 5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10rem;
}

nav{
    width: 35rem;
    color: #FFFFFF;
    font-family: "Spinnaker";
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav > div{
    display: flex;
    margin-top: 5rem;
}

.nav-edit{
    display: flex;
    width: inherit;
}

#edit-area{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Spinnaker";
    font-size: 3rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 890px;
    justify-content: flex-end;
}

form div{
    margin: 1rem;
}

form div input{
    width: 42.3rem;
    height: 7rem;
    font-size: 2rem;
}

#email-address{
    width: 87rem !important;
}

.action-btn{
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
    margin: 1rem;
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#purchases, #my-account{
    cursor: pointer;
}

.product-image{
    width: 10rem;
    height: 10rem;
}

.product-card{
    display: flex;
}

.order-container{
    margin: 1rem;
    border-bottom: solid white;
    color: white;
}

.prod-desc{
    width: 70rem;
}

#notif{
    display: none;
    width: 70rem;
    height: 50rem;
    border-radius: 5rem;
    position: absolute;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
}

#notif p{
    font-family: 'Dela Gothic One';
    font-size: 4rem;
}

#notif svg{
    width: 25rem;
    height: 25rem;
}

#submit-notif{
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 4.8rem;
    background-color: #335970;
    font-family: 'Spinnaker';
    color: white;
    font-size: 1.5rem;
    /* margin: 0 5rem; */
    border-radius: 5rem;
}