*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
    /* background-color: #F6F2F6; */
}

.responsive{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.logo{
    height: 8rem;
    z-index: 9999;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side{
    width: 60rem;
    height: 85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(8, 44, 75, 0.7);
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
    align-items: center;
}

form *{
    margin: 1rem;
}

.header{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 4rem;
    color: #ffffff;
}

.buttons{
    font-size: 4rem;
    color: #ffffff;
}

.desc{
    font-family: 'Spinnnaker', sans-serif;
    font-size: 2.4rem;
    color: #ffffff;
}

#phone-number{
    height: 5rem;
    width: 40rem;
    border-radius: .5rem;
    border: none;
}

#password{
    height: 5rem;
    width: 40rem;
    border-radius: .5rem;
    border: none;
}

.sign-up-btn{
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;

    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

.right-side{
    width: 60rem;
    height: 85rem;
    background-image: url("https://res.cloudinary.com/dzmhkee5i/image/upload/v1728291577/minicell/kaqnta6gtlcls8brprw0.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Spinnaker', sans-serif;
    font-size: 3.2rem;
    color: #000000;
    margin-bottom: 3rem;
}

.hello{
    font-family: 'Aclonica', sans-serif;
    font-size: 5rem;
    color: #000000;
}

.have-account{
    font-family: 'Spinnaker', sans-serif;
    font-size: 2.5rem;
    color: #000000;
}

#login-button{
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 44, 75, 0.7);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;

    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;

}
