*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.responsive-container{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
}


body{
    background-color: rgba(8, 44, 75, 0.7);
}

header{
    display: flex;
    align-items: center;
    font-family: 'Spinnaker', sans-serif;
    font-size: 2rem;
    border-bottom: solid black;
}

.welcome-text{
    font-family: 'Dela Gothic One',sans-serif;
    font-size: 4rem;
}

main{
    display: flex;
}

nav{
    width: 41rem;
    height: 1024px;
    background-color: rgba(8, 44, 75, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
    height: 40rem;
    justify-content: space-around;
}

ul li{
    font-family: 'Spinnaker', sans-serif;
    font-size: 2rem;
    padding: 5rem;
    background-color: #FFFFFF;
    width: 30rem;
    text-align: center;
}

.logout {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-right: 1rem;
}

.content-area{
    width: 103rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Spinnaker", sans-serif;
}

svg{
    width: 50rem;
    height: auto;
}

.desc{
    margin-top: 2rem;
    font-size: 2.5rem;
}

.header-div{
    display: flex;
}

.search-bar{
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.20);
}

.search-bar i {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.search-bar p {
    font-size: 2rem;
    font-family: 'Kulim Park', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

