.product-page{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.prod-header{
    font-family: 'Dela Gothic One', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

#product-container{
    display: flex;
    margin-top: 2rem;
}

#product{
    margin: 1rem;
}

#product-image{
    width: 30rem;
    height: 30rem;
}

#product-name{
    width: 30rem;
    font-size: 2rem;
    font-family: 'Dela Gothic One', sans-serif;
    text-align: center;
}

#product-desc{
    width: 30rem;
    font-size: 1.8rem;
    font-family: 'Spinnaker', sans-serif;
}

#product-price{
    width: 30rem;
    font-size: 2rem;
    font-family: 'Dela Gothic One', sans-serif;
    text-align: right;
}