* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(8, 44, 75, 0.7);
}

.responsive-container{
    width: 1440px;
    min-height: 1024px;
    margin: auto;
    background-image: url("https://res.cloudinary.com/dzmhkee5i/image/upload/v1726043828/minicell/jycqi71udl6w2lijq6u9.png");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);

    border: 1px solid red;
}