.landing-page{
    min-height: 870px;
    display: flex;
}

.image-buttons{
    display: flex;
    align-items: flex-end;
}

.image-buttons div{
    width: 40rem;
    height: 40rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.kids-image{
    background-image: url("../assets/kids.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.kids-image p{
    font-family: 'Aclonica', sans-serif;
    font-size: 8rem;
}

.kids-image :nth-child(1){
    color: #FFFFFF;
}

.mens-image{
    background-image: url("../assets/mens.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.mens-image p{
    font-family: 'Aclonica', sans-serif;
    font-size: 8rem;
}

.mens-image :nth-child(2){
    color: #FFFFFF;
}

.upper{
    margin-top: 4rem;
    margin-left: 5rem;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.welcome-header {
    margin-bottom: 1rem;
}

.welcome-header h1{
    color: #FFFFFF;
    font-family: 'Aclonica', sans-serif;
    font-size: 5rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.description p{
    font-family: 'Spinnaker', sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
}

.explore-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

#add-cart {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
    margin-right: 1rem;
}

#add-cart p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#add-cart i {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    margin-left: 1rem;
}

#explore-now {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #ffffff;
    cursor: pointer;
    box-shadow: -3px 3px #FFFFFF;
}

#explore-now p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#explore-now i {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    margin-left: 1rem;
}

.lower{
    margin-bottom: 10rem;
}

.lower-header{
    font-family: 'br-cobane', sans-serif;
    font-size: 3rem;
}

.arrow-header{
    display: flex;
    align-items: center;
}

.arrow-header i{
    font-size: 5rem;
    width: 8rem;
    transform: scaleX(1.6);
}

.lower h1 span{
    font-weight: bold;
    font-family: 'Chivo Mono', sans-serif;
    text-decoration: underline;
}

.description2{
    font-family: 'Spinnaker', sans-serif;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.login-buttons {
    display: flex;
    justify-content: flex-start;
}

#login, #sign-up {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    cursor: pointer;
    margin-right: 1rem;
}

#login p, #sign-up p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

#login i, #sign-up i {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    margin-left: 1rem;
}